# Languages
*.s linguist-language=Assembly
*.S linguist-language=Assembly
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python
*.pyw linguist-language=Python
*.pygtk linguist-language=Python
*.glade linguist-language=XML

# Documentation
/doc/* linguist-documentation
/tools/* linguist-documentation
