# Languages
*.s linguist-language=Assembly
*.S linguist-language=Assembly
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python
*.glade linguist-language=XML

# Documentation
/lib/doc/* linguist-documentation
/_MISC/* linguist-documentation
